{% extends 'auth/auth/base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block main_content %}

    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure>
                        <img src="https://colorlib.com/etc/regform/colorlib-regform-7/images/signin-image.jpg"
                             alt="sing up image"></figure>
                </div>
                <div class="signin-form">

                    <h2 class="form-title">Verify your account</h2>
                    <form method="POST" action="{% url 'verify_view' %}" class="register-form" id="login-form">
                        {% csrf_token %}

                        {% if forms.errors %}
                            {% for field in forms %}
                                {% if field.errors %}
                                    <div class="fieldWrapper" style="color: red;">
                                        {{ field.label_tag }}
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {{ body }}
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="your_pass" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term"/>
                            <label for="remember-me" class="label-agree-term">
                                <span><span></span></span>Remember me
                            </label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="VERIFY"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

{% endblock %}