{% extends "apps/parts/base.html" %}
{% load static %}

{% block title %}
    Web
{% endblock %}

{% block content %}
    <div class="no-pd" id="content">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="{% url 'main_view' %}"> <i class="fas fa-home"></i>Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li class="active"><a href="#">Category</a></li>
                </ul>
            </div>
            <div class="category">
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-4 order-md-2">
                        <div class="blog-sidebar">
                            <div class="blog-sidebar-section -category">
                                <div class="center-line-title">
                                    <!-- Blog category sidebar -->
                                    <h5>Categories</h5>
                                </div>
                                {% for category in categories_list %}
                                    <a class="category -barcategory -bar "
                                       href="{% url 'blog_category_view' category.slug %}">
                                        <!--Category 1::Background Image size is 340 x 80   -->
                                        <div class="category__background"
                                             style="background-image: url({{ category.picture.url }})">
                                        </div>
                                        <h5 class="title">{{ category.name }}</h5>
                                        <h5 class="quantity">{{ category.blog_count }}</h5>
                                    </a>
                                {% endfor %}

                            </div>
                            <div class="blog-sidebar-section -trending-post">
                                <div class="center-line-title">
                                    <h5>Trending post</h5>
                                </div>

                                {% for blog in news %}
                                    <div class="trending-post">
                                        <div class="trending-post_image">
                                            <div class="rank">1</div>
                                            <!--Img size is 100 x 100 -->
                                            <img src="{{ blog.main_picture.url }}"/>
                                        </div>

                                        <div class="trending-post_content">
                                            <a class="card__content-title" href="{% url 'post_view'  blog.slug %}">
                                                <h5>{{ blog.title }}</h5>
                                            </a>
                                            <!-- Category Header -->

                                            <a href="{% url 'post_view' blog.slug %}">{{ blog.description|truncatechars:50|safe }}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                                <a class="more-btn" href="{% url 'blog_category_view' 'all' %}">Show more </a>


                            </div>
                            <form class="subcribe-box subcribe-box" action="/" method="POST">
                                <h5>Subcribe</h5>
                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed tempor.</p>
                                <input placeholder="Your email" name="email" type="email"/><a class="btn -normal"
                                                                                              href="#">Subcribe</a>
                            </form>
                        </div>
                    </div>

                    <div class="col-12 col-md-7 col-lg-8 order-md-1">
                        <div class="category__header">
                            <div class="category__header__text">
                                <h5>Categories:</h5><a href="#">{{ path }}</a>
                            </div>
                            <div class="category__header__filter">
                            </div>
                        </div>
                        {% for blog in blogs %}
                            <div class="category_content">
                                <div class="col-12">
                                    <div class="post-card -small -horizontal">
                                        <a class="card__cover" href="{% url 'post_view' blog.slug %}" tabindex="0">
                                            <img src="{{ blog.main_picture.url }}"/></a>
                                        <div class="card__content">
                                            <h5 class="card__content-category">{{ blog.title }}</h5>
                                            <a class="card__content-title" href="{% url 'post_view' blog.slug %}"
                                               tabindex="0"></a>
                                            <div class="card__content-info">
                                                <div class="info__time">
                                                    <i class="far fa-clock"></i>
                                                    <p>{{ blog.created_at|date:"d-m-y" }}</p>
                                                </div>
                                                <div class="info__comment"><i class="far fa-comment"></i>
{#                                                    <p>{{ blog.comment_count }}</p>#}
                                                </div>
                                            </div>
                                            <p class="card__content-description">
                                                {{ blog.description|truncatechars:150|safe }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}



                        <div class="pagination">

                            <ul>
                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                <li class="pagination__page-number"><a href="javascript:void(0)">2</a></li>
                                <li class="pagination__page-number"><a href="javascript:void(0)">3</a></li>
                                <li><a class="next" href="javascript:void(0)">></a></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
