{% extends 'auth/base.html' %}
{% load static %}

{% block title %}
    Logout
{% endblock %}

{% block main_content %}
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4"><a class="d-flex flex-center mb-4" href="../../../index.html"><img class="me-2" src="../../../assets/img/icons/spot-illustrations/falcon.png" alt="" width="58" /><span class="font-sans-serif fw-bolder fs-5 d-inline-block">falcon</span></a>
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="text-center"><img class="d-block mx-auto mb-4" src="../../../assets/img/icons/spot-illustrations/16.png" alt="Email" width="100" />
                  <h4 class="mb-2">Please check your email!</h4>
                  <p>An email has been sent to <strong>xyz@abc.com</strong>. Please click on the included link to reset your password.
                  </p><a class="btn btn-primary btn-sm mt-3" href="{% url 'login_page' %}"><span class="fas fa-chevron-left me-1" data-fa-transform="shrink-4 down-1"></span>Return to login</a>
                </div>
              </div>
            </div>
          </div>
{% endblock %}